.dashboard-icon{
    font-size: 3.5rem;

}

.dashboard-photo{
    /* font-size: 3.5rem; */
    width: 100px;
    height: 100px;
    object-fit: cover ;

}

.edit-photo{
    /* font-size: 7rem; */
    width: 100px;
    height: 100px;
    object-fit: cover ;
}

